<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/TestCase.php"
         colors="true"
         strict="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="FileManager Test Suite">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="FILE_MANAGER_DRIVER" value="local"/>
    </php>
</phpunit>
